@import url("font/stylesheet.css");

* {
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    color: #263238;
    line-height: normal;
}

/* Текста */
.fs-16 {
    font-size: 16px;

    @media(max-width: 576px) {
        font-size: 12px;
    }
}
.fs-18 {
    font-size: 18px;

    @media(max-width: 576px) {
        font-size: 14px;
    }
}
.fs-20 {
    font-size: 20px;

    @media(max-width: 576px) {
        font-size: 16px;
    }
}
.fs-24 {
    font-size: 24px;

    @media(max-width: 576px) {
        font-size: 16px;
    }
}
.fs-28 {
    font-size: 28px;

    @media(max-width: 576px) {
        font-size: 18px;
    }
}
.fs-36 {
    font-size: 36px;

    @media(max-width: 576px) {
        font-size: 22px;
    }
}
.fs-40 {
    font-size: 40px;

    @media(max-width: 576px) {
        font-size: 26px;
    }
}
.fs-44 {
    font-size: 44px;

    @media(max-width: 576px) {
        font-size: 26px;
    }
}
.fs-84 {
    font-size: 84px;

    @media(max-width: 576px) {
        font-size: 60px;
    }
}
.fw-600 {
    font-weight: 600;
}
.fw-500 {
    font-weight: 500;
}
.text-orange {
    color: rgba(255, 137, 6, 1);
}
.lh-80 {
    line-height: 80px;

    @media(max-width: 576px) {
        line-height: 65px;
    }
}
.lh-54 {
    line-height: 54px;

    @media(max-width: 576px) {
        line-height: 40px;
    }
}
.lh-48 {
    line-height: 48px;

    @media(max-width: 576px) {
        line-height: 30px;
    }
}
.lh-32 {
    line-height: 32px;
}
.lh-30 {
    line-height: 30px;
}
.lh-22 {
    line-height: 22px;
}
.opacity-75 {
    opacity: 75%;
}
.opacity-80 {
    opacity: 80%;
}

/* Кнопки */
.orange-fill-button {
    background: linear-gradient(180deg, #FAB336 0%, #F46F40 100%);
    border-radius: 66px;
    padding: 0.94rem 1.25rem;

    @media (max-width: 991px) {
        width: 100% !important;
    }
}

/* Общие */
.word-wrap-break-word {
    word-wrap: break-word;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0 !important;
}
.gap-32 {
    gap: 32px;
}
.pt-96 {
    padding-top: 6rem;
}
.pt-64 {
    padding-top: 4rem;
}
.pb-64 {
    padding-bottom: 4rem;
}
.mt-64 {
    margin-top: 4rem;
}
.pb-96 {
    padding-bottom: 6rem;
}
.py-96 {
    padding-top: 6rem;
    padding-bottom: 6rem
}
.mt-32 {
    margin-top: 2rem;
}

/* Картинки */
.img-1 {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    height: auto;

    @media(max-width: 1200px) {
        display: none;
    }
}
.d-middle-none {
    display: block;
    @media(max-width: 991px) {
        display: none;
    }
}
.img-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 48%;

    @media(max-width: 1200px) {
        display: none;
    }
}

/* Карточки */
.custom-card {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
.custom-card.custom-card-body {
    position: relative;
    left: 0.75rem;
    top: -18px;
    z-index: -1;
    padding-top: 2.75rem;
}
.custom-card-header {
    padding: 0.5rem 2rem;
    border-radius: 66px;
    background: linear-gradient(180deg, #7454AE 0%, #C152C5 100%);

}

/* Точка в li */
li {
    list-style: none;
}
li:before {
    content:"·";
    font-size: 40px;
    vertical-align: -5px;
    line-height: 32px;
    margin-right: 10px;
}
ul {
    padding-left: 0 !important;
}


/* Инпуты и Селекты */
input[type="text"]::placeholder {
    font-size: 18px;
    opacity: 50% !important;
}
input[type="text"]:focus {
    border: 1px solid rgba(255, 137, 6, 1) !important;
    box-shadow: none;
}
input[type="text"] {
    box-shadow: 0px 4px 10px 0px #0000001A;
    border-radius: 12px !important;
    padding: 1.25rem;
    border: none;
}

/* Форма */
.lin-gr-bg-1 {
    background: linear-gradient(180.58deg, #FEF7EB 43.11%, #FFFEFF 143.14%);
}
.lin-gr-bg-2 {
    background: linear-gradient(180deg, #FFFEFF 0%, #FEF7EB 100%);
}
.custom-form-border {
    --b: .3em;
    --c: 3em;
    --r: 1.6em;
    position: relative;
    border: solid var(--b) transparent;
}
.custom-form-border::before {
    background: linear-gradient(#FFE500, #FF5C00) border-box;
    position: absolute;
    z-index: -1;
    inset: calc(-1*var(--b));
    border: inherit;
    border-radius: var(--r);
    --corner: conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 0 0/ calc(100% - var(--c)) calc(100% - var(--c)) border-box;
    --inner: conic-gradient(red 0 0) padding-box;
    mask: var(--corner) subtract, var(--inner);
    content: '';
}
.custom-form-border .custom-form {
    border-radius: 24px;
    box-shadow: 0px 0px 15px 0px #00000026;
}

/* Шаги */
.step {
    display: flex;
    border-radius: 100px;
    background: linear-gradient(180deg, #7454AE 0%, #C152C5 100%);
    height: 60px;
    width: 60px;

    @media(max-width: 992px) {
        display: none;
    }
}

.step-line {
    height: 4px;
    position: absolute;
    background: linear-gradient(180deg, #7454AE 0%, #C152C5 100%);
    border-radius: 100px;
    z-index: -1;

    @media(max-width: 992px) {
        display: none;
    }
}
#step-line-1 {
    top: 50%;
    right: 19%;
    transform: translateY(-50%);
    width: 28.5%;
}
#step-line-2 {
    top: 50%;
    left: 19%;
    transform: translateY(-50%);
    width: 28.5%;
}