@import url("font/stylesheet.css");

* {
    font-family: "Montserrat", sans-serif;
    color: rgba(38, 50, 56, 1);
}

/* Texts */
.gradient {
    background-image: linear-gradient(180deg, #FAB336 0%, #F46F40 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.large-text {
    font-size: 44px;
    font-weight: 700;

    @media(max-width: 567px) {
        font-size: 30px;
        word-wrap: break-word;
    }
}

.medium-text {
    font-weight: 700;
    font-size: 32px;

    @media(max-width: 576px) {
        font-size: 28px;
    }
}

.small-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    @media(max-width: 576px) {
        font-size: 14px;
    }
}

.tab-text,
.tab-text:hover,
.tab-text:focus {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(38, 50, 56, 1);
    text-decoration: none;
}

.card-header-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

/* Tabs */
.type {
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.tab {
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* Buttons */
#reset-btn {
    border-radius: 20px 0 0 20px;
    border: 1px solid rgba(254, 135, 5, 1);
    color: rgba(254, 135, 5, 1);
    background-color: rgba(255, 255, 255, 1);
}
#bbk-reset-btn {
    border-radius: 20px;
    color: rgba(254, 135, 5, 1);
    width: 100%;
    font-weight: 700;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(174.32deg, #FF8A00 4.26%, #FE5B00 95.24%) border-box;
    border: 2px solid transparent;
}

#submit-btn {
    border-radius: 0 20px 20px 0;
    background: linear-gradient(180deg, #FAB336 0%, #F46F40 100%);
    color: rgba(255, 255, 255, 1);
    border: 0;
}
#bbk-submit-btn {
    border-radius: 20px;
    font-weight: 700;
    background: linear-gradient(180deg, #FAB336 0%, #F46F40 100%);
    color: rgba(255, 255, 255, 1);
    border: 0;
    width: 100%;
}

.favourites-btn {
    border-radius: 20px;
    background: linear-gradient(180deg, #FAB336 0%, #F46F40 100%);
    color: #FFFFFF;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.directions {
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 24px;
}

.bbk-container {
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

/* Filter form */
.search-input {
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    width: 100%;
    font-size: 14px;
    color: #26323880;
}

.filter {
    border-radius: 0 20px 20px 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);

    @media(max-width: 576px) {
        border-radius: 0 0 20px 20px;
    }
}

.search-input::placeholder {
    color: #26323880;
}

.form-select {
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    font-size: 14px;
    @media(max-width: 576px) {
        padding-left: 20px;
    }
    @media(max-width: 991px) {
        padding-left: 20px;
    }
}

#year-from, #year-before {
    width: 100px;

    @media(max-width: 576px) {
        width: 100px;
    }
}

/* Others */
.not_find {
    color: rgba(254, 135, 5, 1);
    text-decoration: none;
    display: grid;
    justify-self: center;
    width: auto;
}

.page-link{
    border: 0;
    color: rgba(38, 50, 56, 1);
    border-radius: 10px;
}

.nav-tabs .nav-link {
    border-radius: 20px 20px 0 0;
    transition: background-color 0s ease;
    border-bottom: 0;
    border: none;
}

.nav-tabs {
    border-bottom: 0;
}

.option {
    @media(max-width: 991px) {
        display: block;
    }
}

.option label {
    font-size: 14px;
    font-weight: 600;
}
.nav {
    margin: 0;
    @media(max-width: 991px) {
        padding-top: 40px;
    }
}

.card {
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    border: none;
}

.pagination {
    @media(max-width: 557px) {
        justify-content: left;
    } 
}

.active-tag,
.active-tag:hover,
.active-tag:focus {
    background: linear-gradient(180deg, #FAB336 0%, #F46F40 100%);
    color: #FFFFFF;
    z-index: 10;
    background-clip: padding-box;
}


.btn.dropdown-toggle.btn-light {
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    padding: 1rem 1rem !important;
    background-color: #fff;
}

.bootstrap-select .dropdown-menu.show {
    border: none;
    box-shadow: 0 4px 4px rgba(233, 229, 227, 0.55);
}
.dropdown-item.active.selected {
    background-color: #d7e6c6;
}

.dropdown-item {
    font-size: 14px;
}

.mult .bootstrap-select .dropdown-toggle::after {
    content: none;
    border: none;
}

.bootstrap-select {
    padding: 0 !important;
    width: 100% !important;
    background-color: #FFFFFF;
}

.bootstrap-select .filter-option-inner-inner {
    font-size: 14px;
    color: #26323880;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    border: none;
    box-shadow: 0 4px 4px rgba(233, 229, 227, 0.55);
    background-color: #fff;
    border-radius: 14px;
    width: 300px;
}

.ui-menu-item {
    padding: 0.5rem !important;
    cursor: pointer;
    font-size: 14px;
}

.ui-state-focus,
.ui-state-active {
    background-color: #f8f9fa;
}


/* Tree */
.group-label {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Стандарт */
}

.select .hidden-checkbox, .group-children {
    display: none;
}

:root{
    --width      : 36;
    --rounding   : 4px;
    --accent     : #696;
    --dark-grey  : #ddd;
    --grey       : #eee;
    --light-grey : #f8f8f8;
}

.tree-padding{
    --spacing    : 1.5rem;
    --radius     : 10px;
    padding-left : 1rem;
}

.tree-padding li{
    display      : block;
    position     : relative;
    padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree-padding ul{
    margin-left  : calc(var(--radius) - var(--spacing));
    padding-left : 0;
}

.tree-vertical-lines ul li{
    border-left : 2px solid var(--dark-grey);
}

.tree-vertical-lines ul li:last-child{
    border-color : transparent;
}

.tree-horizontal-lines ul li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2);
    left         : -2px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid var(--dark-grey);
    border-width : 0 0 2px 2px;
}

.tree-markers li::after {
    content       : '';
    display       : block;
    position      : absolute;
    top           : calc(var(--spacing) / 2 - var(--radius));
    left          : calc(var(--spacing) - var(--radius) - 1px);
    width         : calc(2 * var(--radius));
    height        : calc(2 * var(--radius));
    border-radius : 50%;
    background    : var(--dark-grey);
    cursor: pointer;
}

.tree-markers .active-branch::after {
    background: linear-gradient(180deg, #FAB336 0%, #F46F40 100%);
}

.fw-600 {
    font-weight: 600;
}