* {
    font-family: 'Liberation Sans', sans-serif;
}
@font-face {
    font-family: 'Liberation Sans';
    src: url('../fonts/LiberationSansRegular/LiberationSansRegular.eot') format('eot'),
    url('../fonts/LiberationSansRegular/LiberationSansRegular.woff') format('woff'),
    url('../fonts/LiberationSansRegular/LiberationSansRegular.ttf') format('truetype');
    font-weight: 400; /* Нормальный вес */
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('../fonts/LiberationSansBold/LiberationSansBold.eot') format('eot'),
    url('../fonts/LiberationSansBold/LiberationSansBold.woff') format('woff'),
    url('../fonts/LiberationSansBold/LiberationSansBold.ttf') format('truetype');
    font-weight: 700; /* Жирный вес */
    font-style: normal;
}
/* Тексты */
.text-color-shark {
    color: #212529;
}
.text-color-shark-75 {
    color: #212529BF;
}
.text-color-black {
    color: #000000;
}
.text-color-blue-stone {
    color: #035D66;
}
.text-color-wild-watermelon {
    color: #FF4E84;
}
.text-color-genoa {
    color: #176D75;
}

.fs-64 {
    font-size: 64px;

    @media(max-width: 1200px) {
        font-size: 58px;
    }
    @media(max-width: 768px) {
        font-size: 54px;
    }
}
.fs-60 {
    font-size: 60px;
    @media(max-width: 1200px) {
        font-size: 54px;
    }
    @media(max-width: 768px) {
        font-size: 38px;
    }
    @media(max-width: 576px) {
        font-size: 32px;
    }
}
.fs-52 {
    font-size: 52px;
    @media(max-width: 1200px) {
        font-size: 46px;
    }
    @media(max-width: 576px) {
        font-size: 26px;
    }
}
.fs-48 {
    font-size: 48px;
    @media(max-width: 1200px) {
        font-size: 42px;
    }
    @media(max-width: 576px) {
        font-size: 32px;
    }
}
.fs-44 {
    font-size: 44px;
    @media(max-width: 1200px) {
        font-size: 40px;
    }
    @media(max-width: 576px) {
        font-size: 28px;
    }
}
.fs-36 {
    font-size: 36px;
    @media(max-width: 1200px) {
        font-size: 32px;
    }
    @media(max-width: 576px) {
        font-size: 30px;
    }
    @media(max-width: 376px) {
        font-size: 22px;
    }
}
.fs-32 {
    font-size: 32px;
    @media(max-width: 1200px) {
        font-size: 28px;
    }
    @media(max-width: 576px) {
        font-size: 26px;
    }
    @media(max-width: 376px) {
        font-size: 20px;
    }
}
.fs-30 {
    font-size: 30px;
    @media(max-width: 1200px) {
        font-size: 26px;
    }
    @media(max-width: 576px) {
        font-size: 18px;
    }
}
.fs-24 {
    font-size: 24px;
    @media(max-width: 1200px) {
        font-size: 20px;
    }
}
.fs-22 {
    font-size: 22px;
    @media(max-width: 1200px) {
        font-size: 20px;
    }
}
.fs-20 {
    font-size: 20px;
    @media(max-width: 1200px) {
        font-size: 18px;
    }
}
.fs-18 {
    font-size: 18px;
    @media(max-width: 1200px) {
        font-size: 16px;
    }
    @media(max-width: 376px) {
        font-size: 13px;
    }
}
.fs-16 {
    font-size: 16px;
}
.fs-15 {
    font-size: 15px;
}
.fs-14 {
    font-size: 14px;

    @media(max-width: 376px) {
        font-size: 10px;
    }
}


.lh-73 {
    line-height: 73px;
}
.lh-54 {
    line-height: 54px;
}
.lh-50 {
    line-height: 50px;
}
.lh-45 {
    line-height: 45px;
}
.lh-40 {
    line-height: 40px;
}
.lh-36 {
    line-height: 36px;
}
.lh-30 {
    line-height: 30px;
}
.lh-23 {
    line-height: 23px
}
.lh-22 {
    line-height: 22px;
}

.fw-600 {
    font-weight: 600;
}
.fw-500 {
    font-weight: 500;
}

/* Отступы */
p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0 !important;
}
.pt-160 {
    padding-top: 160px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pt-74 {
    padding-top: 72px;
}
.mt-72 {
    margin-top: 72px;
}
.pt-42 {
    padding-top: 42px;
}
.px-36 {
    padding-left: 36px;
    padding-right: 36px;
}
.pt-36 {
    padding-top: 36px;
}
.pt-32 {
    padding-top: 32px;
}
.pt-20 {
    padding-top: 20px;
}
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

/* Карточки */
.half-br-card {
    border-radius: 30px 0 30px 0;
}
#card-1 {
    top: 42px;
    left: 95px;

    @media(max-width: 1200px) {
        width: 100%;
        margin-bottom: 20px;
    }
}
#card-2 {
    left: 472px;

    @media(max-width: 1200px) {
        width: 100%;
        margin-bottom: 20px;
    }
}
#card-3 {
    top: 42px;
    right: 33px;

    @media(max-width: 1200px) {
        width: 100%;
        margin-bottom: 20px;
    }
}
#card-4 {
    right: 0;
    top: 184px;

    @media(max-width: 1200px) {
        width: 100%;
        margin-bottom: 20px;
    }
}
#card-5 {
    bottom: 8px;
    right: 80px;

    @media(max-width: 1200px) {
        width: 100%;
        margin-bottom: 20px;
    }
}
#card-6 {
    bottom: 0;
    left: 472px;

    @media(max-width: 1200px) {
        width: 100%;
        margin-bottom: 20px;
    }
}
#card-7 {
    bottom: 16px;
    left: 76px;

    @media(max-width: 1200px) {
        width: 100%;
        margin-bottom: 20px;
    }
}
#card-8 {
    left: 0;
    top: 184px;

    @media(max-width: 1200px) {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Общие */
.custom-display-xxl-none {
    @media(max-width: 1400px) {
        display: none
    }
}
.custom-w-xxl-100 {
    @media(max-width: 1400px) {
        width: 100% !important;
    }
}
#college-block {
    @media(min-width: 1200px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media(max-width: 1200px) {
        width: 100%;
        margin-bottom: 20px;
    }
}
.border-radius-16 {
    border-radius: 16px;
}
.border-radius-60 {
    border-radius: 60px;
}
.br-left-top {
    border-radius: 30px 0 0 0;
}
.br-right-bottom {
    border-radius: 0 0 30px 0;
}
.position-xl-absolute {
    @media(min-width: 1200px) {
        position: absolute;
    }
}
.opacity-85 {
    opacity: 85%;
}
.opacity-65 {
    opacity: 65%;
}
.pink-point {
    width: 16px !important;
    height: 16px !important;
    flex-shrink: 0;
}
.br-100 {
    border-radius: 100px;
}

/* z-index */
.z-index-1 {
    z-index: 1;
}
.z-index-10 {
    z-index: 10;
}

/* Задний фон */
.bg-white-green {
    background: #018F9A0D;
}
.bg-blue-green {
    background: #028E9B;
}
.bg-wild-watermelon {
    background: #FF4E84;
}
.bg-gulf-stream {
    background: #73ADB0;
}
.bg-hit-gray {
    background: #ADB5BD;
}
.b-shadow-1 {
    box-shadow: 2px 4px 20px 0 #01565D1A;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #028E9B;
    mix-blend-mode: lighten;
    opacity: 1;
}
.overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #035D66;
    mix-blend-mode: color;
    opacity: 1;
}

/* Бордеры */
.border-white-green {
    border: 1px solid #73ADB026
}
.border-white-green-opacity-10 {
    border: 1px solid #73ADB040
}
.border-wild-watermelon {
    border: 1px solid #FF4E84;
}

/* Таблицы */
#support-packages-table {
    border-collapse: collapse;
}
#support-packages-table td {
    width: 33.33%;
}
#support-packages-table tbody {
    border: 1px solid #ADB5BD;
}
#support-packages-table .border-right {
    border-right: 1px solid #ADB5BD;
}
#support-packages-table .border-top {
    border-top: 1px solid #ADB5BD;
}
#support-packages-table .strikethrough {
    position: relative;
    display: inline-block;
}

#support-packages-table .strikethrough::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: translateY(10%);
}

/* Инпуты */
.form-control {
    border: 1px solid #21252926;
    border-radius: 8px !important;
    padding: 10px 12px !important;
}
.form-control::placeholder {
    opacity: 50% !important;
}

/* Чекбоксы */
input[type="checkbox"] {
    appearance: none !important;
}
input[type="checkbox"] {
    width: 3rem;
    height: 1.5rem;
    background-image: url('../images/unchecked.svg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    margin-right: 0.5rem;
}
input[type="checkbox"]:checked {
    border: none;
    background-image: url('../images/checked.svg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

/* Формы */
#application {
    position: relative;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px); /* Размытие фона */
}

/* Контейнеры */
#first-container {
    padding-top: 172px;
    padding-bottom: 169px;

    @media(max-width: 1300px) {
        padding-top: 132px;
        padding-bottom: 40px;
    }
}
#college-section {
    @media(min-width: 1200px) {
        height: 443px;
    }
    height: auto;
}
#service-work-row-2 {
    @media(min-width: 1400px) {
        position: absolute;
        top: 238px
    }
    top: 0;
    position: static;
}
#services-section {
    padding-bottom: 321px;

    @media(max-width: 1400px) {
        padding-bottom: 100px;
    }
}

table {
    width: 100%;
    table-layout: fixed;
}